@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


    /*color palete*/
    --color-primary: #000;
    --color-secondary: #FFF;
    --color-tertiary: #FFD200;
    --color-quaternary: #282828;
}

body {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.slick-track .slick-slide{
  display: flex;
  justify-content: center;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: rgba(110, 110, 110, 0.62);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #FFD200;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffae00;
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}